* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

:root {
  --main-color: #dec8f8;
  --main-gradient: linear-gradient(#310069, rgb(18, 18, 141));
  --secondary-gradient: linear-gradient(rgb(233, 229, 229), rgb(227, 226, 228));
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-image: var(--main-gradient);
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 40px;
  box-shadow: 2px 4px 5px rgb(134, 132, 132);
}

.header > h2 {
  color: white;
  font-size: 2.7rem;
}

.header > img {
  height: 60px;
  width: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 60px 0px;
  margin-top: 3px;
  background-image: var(--secondary-gradient);
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  background-image: var(--main-gradient);
  color: white;

  padding: 20px 30px;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  font-weight: bold;
}

.add-btn:hover {
  opacity: 0.9;
}

.add-btn:active {
  opacity: 0.7;
}

.book-container {
  display: grid;
  padding: 100px;
  gap: 50px;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: var(--main-color);
  gap: 20px;
  color: black;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0px 30px;
  box-shadow: 1px 1px 4px rgb(134, 132, 132);
}

.card > p:first-child {
  font-size: 1.6rem;
  font-weight: bold;
}

.card > p:nth-child(2) {
  font-size: 1.3rem;
}

.card > p:nth-child(3) {
  font-size: 1.1rem;
}
