* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

:root {
  --main-color: #dec8f8;
  --secondary-color: #7842b4;
  --tertiary-color: white;
  --main-gradient: linear-gradient(#310069, rgb(18, 18, 141));
  --secondary-gradient: linear-gradient(rgb(233, 229, 229), rgb(227, 226, 228));
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-image: var(--main-gradient);
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 40px;
  box-shadow: 0px 2px 2px rgb(134, 132, 132);
}

.header > h2 {
  color: white;
  font-size: 2.7rem;
}

.header > img {
  height: 60px;
  width: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 60px 0px;
  margin-top: 3px;
  background-image: var(--secondary-gradient);
}

.form-btn {
  background: none;
  border: none;
  cursor: pointer;
  background-image: var(--main-gradient);
  color: white;
  padding: 20px 30px;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  font-weight: bold;
  box-shadow: 1px 2px 2px rgb(134, 132, 132);
}

.form-btn:hover {
  opacity: 0.9;
}

.form-btn:active {
  opacity: 0.7;
}

.book-container {
  display: grid;
  margin: 0 auto;
  gap: 50px;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: var(--main-color);
  gap: 20px;
  color: black;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0px 30px;
  box-shadow: 1px 1px 4px rgb(134, 132, 132);
}

.card > p:first-child {
  font-size: 1.6rem;
  font-weight: bold;
}

.card > p:nth-child(2) {
  font-size: 1.3rem;
}

.card > p:nth-child(3) {
  font-size: 1.1rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 150ms ease-in-out;
  z-index: 2;
  background-color: var(--tertiary-color);
  width: 500px;
  max-width: 80%;
  border-radius: 0.5rem;
  padding: 20px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.modal-title {
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.modal-header .close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.9rem;
  font-weight: 600;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 20px 5px;
}

input::placeholder {
  opacity: 0.7;
}

.modal-body input {
  padding: 7px;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px rgb(207, 204, 207) solid;
  box-shadow: 0px 2px 1px rgb(221, 221, 223);
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.modal-body input:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}

.read-ask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

input[type='checkbox'] {
  margin-top: 12px;
  accent-color: white;
  box-shadow: none;
}

label[for='status'] {
  font-size: 1.3rem;
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--main-color);
  color: black;
  width: 200px;
  padding: 20px 0px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 0px 2px 2px rgb(221, 221, 223);
}

.add-btn:hover {
  color: var(--main-color);
  background-color: black;
  opacity: 0.9;
}

.add-btn:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}

.add-btn:active {
  opacity: 0.7;
}

#status {
  height: 25px;
  width: 25px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
}
